/* Global */

::-moz-selection {
    background-color: #1a1a1a;
    color: #FFF
}

::selection {
    background-color: #1a1a1a;
    color: #FFF
}

body
{
    background-color: #FFFFFF;
    font-family:  'Lato', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 15px;
}

p{
    text-align: justify;
    color: #666;
}

a {
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

h1 {
    font-size: 60px;
}
span{
    color: crimson;
}

.f-icon{
    font-size: 30px !important;
    margin-top: 10px;
    height: 60px;
    width: 60px;
    line-height: 55px !important;
    border: 1px solid #333;
    border-radius: 100%;
}

.title{
    color: #FFFFFF;
    background-color:crimson;
    text-transform: uppercase;
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-weight: 900;
    font-size: 13px;
}

.crimson{
    color: #DC143C;
}

.avatar{
    border-radius: 100%;
    border: 3px solid #DC143C;
    width: 100px;
    height: 100px;
}

/* ==================================================
  Cover Section Styling
================================================== */

.cover {
    background: url('../images/head.jpg');
    display: table;
    width: 100%;
    position: relative;
    height: 100vh;
   background-size: cover;
}

.cover:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.cover .container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.cover h1,
.cover h3 {
    color: #fff;
}

.cover h3 {
    margin: 45px 0 75px 0;
}

.cover h1 {
    margin-bottom: 4%;
}

.cover .btn {
    background-color: #000; /*#199EB8*/
    color: #fff;
    padding: 15px 45px;
    border-radius: 50px;
}

.cover .btn:hover {
    background-color: crimson; /*#e04f00*/
    color: #fff;
}


/* ==================================================
  Header Styling
================================================== */

#header .navbar {
    background-color: #000;
    height: 70px;
    border: none;
    margin:0;
    padding: 0;
    border-radius: 0; 
}

#header .navbar-brand {
    margin-top: 7px;
    color: #fff;
}
#header span {
    font-size: 19px;
}
#header img {
    width: 70%;
    padding: 15px 0;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding: 23px 15px;
    font-weight: 300;
    font-size: 15px;
    outline: none;
    text-decoration: none;
    background: #000;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
    color: crimson
}
#header a i {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 25px 7px;
    font-size: 23px;
    color: #fff;
    cursor: pointer;
}

#header a i:hover {
    opacity: 0.7;
    color:crimson
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: transparent;
}
.navbar-toggle{
   border-color: transparent !important;
}
.navbar-toggle:hover,
.navbar-toggle:focus

{
    transition: 1s ease-in-out;
    background: none !important;
  
}
/* ===================== Start Abou Us ==================== */
.cover2 {
    background: url('../images/head2.jpg');
    display: table;
    width: 100%;
    position: relative;
    height: 100vh;
   background-size: cover;
}

.cover2:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.cover2 .container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.cover2 h3 {
    margin: 45px 0 75px 0;
    color: #fff;
}

.cover2 h1 {
    margin-bottom: 4%;
    color: #fff;
}

.cover2 .btn {
    background-color: #000; /*#199EB8*/
    color: #fff;
    padding: 15px 45px;
    border-radius: 50px;
}

.cover2 .btn:hover {
    background-color: crimson; /*#e04f00*/
    color: #fff;
}
/* ================== Start Footer ===================*/
.footer{
    top: 0;
    bottom: 0;
    color: #fff;
    padding: 20px 0;
    margin-top: 10px;
    background: #000;
}
